body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

h2, h3 {
    font-weight: 700;
    line-height: 1.5;
}

h3 {
    font-size: 1.2rem;
}

.container-fluid {
    padding: 3% 10%;
}

/* Title Section */

#title {
    background-image: linear-gradient(to bottom right, #ff4c68, #EF8172);
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.nav-link {
    font-weight: 100;
}

.title-img {
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
}

/* Features Section */

#features {
    position: relative;
    background-color: #fff;
}

.fas {
    color: #EF8172;
}

.fas:hover {
    color: #FF4D69;
}

.features-text {
    font-size: 0.9rem;
    color: #8f8f8f;
}

/* Testimonial Section */

#testimonials {
    background-color: #EF8172;
    color: #fff;
    position: relative;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
}

/* Press Section */

#press {
    background-color: #EF8172;
}

.press-logo {
    width: 15%;
}

/* Pricing Section */
.card {
    width: 90%;
}

/* Call To Action Section */

#cta {
    background-image: linear-gradient(to bottom right, #EF8172 ,#FF4D69);
}

/* Footer Section */

#id {
    padding: 5%;
}

.fa-envelope {
    color: #000;
}

@media (max-width: 1336px) {
    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
        width: 60%;
    }

}
