body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

#features {
    text-align: center;
    font-size: 1.5rem;
}

#title {
    background-color: #ff4c68;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
}

.btn {
    font-family: "Montserrat", sans-serif;
}

.container-fluid {
    padding: 3% 15%;
}

.features-text {
    font-size: 1.5rem;
    color: #8f8f8f;
}

.nav-link {
    font-weight: 100;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
}
